* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 100%;
    max-height: 100%;
}

.container {
    display: flex;
    height: 90vh;
    max-width: 100%;
    justify-content: center;
    padding: 2vh;
    margin: 2vh;
}

.background {
    background-image: url(../assets/bck.png);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

.product {
    display: block;
    justify-content: center;
    align-items: center;
    padding: 3vh;
    margin: 2vh;
    font-size: 1.3ch;
}

#vitrine {
    display: flex;
    padding: 5vh;
    margin: 5vh;
}

#logo {
    height: 85vh;
}

.item {
    width: 60vh;
}